#menu
  =render partial: 'layouts/admin_menu'

%h1= t('titles.system_config')
.sp


.alert-notice
  =render partial: 'layouts/alert_notice'
  .sp 



= form_tag admin_system_config_update_path, method: 'post' do
  .tbl-system-config
    %strong.col-1.t-right
      = t('titles.link_page')
    .col-2
      = text_field_tag :page_return, Admin::SystemConfig.page_return
    %strong.col-1.t-right
      = t('titles.mail_request_auth')
    .col-2
      = text_field_tag :mail_request_auth, Admin::SystemConfig.mail_request_auth, size: 70
  .sp
  = jq_submit_tag t('commands.save') 
  
