!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@course_title}
    %br
    %br
    Favor de generar y envìar ficha de depósito para:
    %br
    %br
    Nombre:
    %strong
      #{@participant_name}
    %br
    Correo: #{@participant_mail}
    %br
    Importe: #{@price}
    %br
    %br
    Mayores informes:
    %br
    #{@course_contact}
    %br
    %br
    Gracias.
