#c-container{style: "background-color: ##{@catalogs_participant.course.color_theme_l 3,0.4};"}
  #c-header{style: "background-color: ##{@catalogs_participant.course.color_theme1};"}
    #c-header-bg
    #c-header-logo
  #c-course-info{style: "background-color: ##{@catalogs_participant.course.color_theme_l 3,0.6}; color: ##{@catalogs_participant.course.color_theme1}"}


    = @catalogs_participant.course.name
    = @catalogs_participant.complete_name
    -# when fields not empty
    = @catalogs_participant.course.info_after_reg
    Mayores informes:
    = @catalogs_participant.course.contact
    = link_to 'Terminar', public_event_info_path(@catalogs_participant.course_id)
    = link_to 'Descargar hoja de registro', public_event_courses_download_file_path(@catalogs_participant.pdf_reg_filename)

  #c-footer{style: "background-color: ##{@catalogs_participant.course.color_theme1}; color: ##{@catalogs_participant.course.color_theme3}"}
    Ramón Martínez Olvera (442) 5623 40 52 | INB-UNAM


