.error-explanation

= simple_form_for @catalogs_course, url: catalogs_course_new_copy_path(id: @catalogs_course.id), method: :post, :html => {:novalidate => true}, remote: true do |f|
  = f.hidden_field :user_id, value: current_devise_user.id
  = f.input :name, :input_html => {:size => 50}
  = f.input :start_date, as: :string, input_html: {class: 'jq-datepicker'}
  = f.input :location, :input_html => {:size => 50}
  = f.input :schedule, :input_html => {:size => 50}
  .sp
  %hr
  .t-right
    = jq_submit_tag t('commands.save')
