= simple_form_for @catalogs_course, :html => {:novalidate => true, multipart: true} do |f|

  .t-right
    =jq_submit_tag t('commands.save')
    = link_to_jq_button({url: catalogs_courses_path, text: t('commands.cancel'), icon: 'close', remote: false})
  .sp


  %h3.t-head= t('titles.event_general_data')
  .tbl-courses-attr
    .col-1
      =f.label :name
    .col-2
      =f.input_field :name, :size => 50, placeholder: t('titles.name_for_admin')
    .col-1
      =f.label :title
    .col-2
      =f.input_field :title, size:70, placeholder: t('titles.title_for_event_info')
    .col-1
      = f.label :start_date
    .col-2
      = f.input_field :start_date, as: :string, class: 'jq-datepicker', size: 18
    .col-1
      = f.label :description
    .col-2
      = f.input_field :description, as: :text, :size => "90x5"
    .col-1
      = f.label :location
    .col-2
      = f.input_field :location, :size => 70
    .col-1
      = f.label :schedule
    .col-2
      = f.input_field :schedule, :size => 70

  .sp
  %h3.t-head= t('titles.event_detail_data')
  .tbl-courses-attr
    .col-1
      =f.label :content_file_desc
    .col-2
      =f.input_field :content_file_desc, :size => 70, placeholder: 'Ej. programa, lectura, etc.'
    .col-1
      =f.label :content_file
    .col-2.file-selector
      .input-file
        =text_field_tag :catalogs_course_content_file_tag, nil, type: 'file'
      .input-file-handler
        .input-file-button.jq-button
          =t('commands.select_file')
        .input-file-str
          =f.input_field :content_file, size: 30, placeholder: 'Se recomienda un archivo PDF', readonly: true
        .remove-file-button.jq-button{'jq-icon' => 'trash', name: '#catalogs_course_content_file'}
          &nbsp;
    .col-1
      =f.label :content_file2_desc
    .col-2
      =f.input_field :content_file2_desc, :size => 70, placeholder: 'Ej. programa, lectura, etc.'
    .col-1
      =f.label :content_file2
    .col-2.file-selector
      .input-file
        =text_field_tag :catalogs_course_content_file2_tag, nil, type: 'file'
      .input-file-handler
        .input-file-button.jq-button
          =t('commands.select_file')
        .input-file-str
          =f.input_field :content_file2, size: 30, placeholder: 'Se recomienda un archivo PDF', readonly: true
        .remove-file-button.jq-button{'jq-icon' => 'trash', name: '#catalogs_course_content_file2'}
          &nbsp;
    .col-1
      =f.label :content_file3_desc
    .col-2
      =f.input_field :content_file3_desc, :size => 70, placeholder: 'Ej. programa, lectura, etc.'
    .col-1
      =f.label :content_file3
    .col-2.file-selector
      .input-file
        =text_field_tag :catalogs_course_content_file3_tag, nil, type: 'file'
      .input-file-handler
        .input-file-button.jq-button
          =t('commands.select_file')
        .input-file-str
          =f.input_field :content_file3, size: 30, placeholder: 'Se recomienda un archivo PDF', readonly: true
        .remove-file-button.jq-button{'jq-icon' => 'trash', name: '#catalogs_course_content_file3'}
          &nbsp;
    .col-1
      = f.label :price1_desc
    .col-2
      = f.input_field :price1_desc, :size => 70, placeholder: 'Ej. Precio normal'
    .col-1
      = f.label :price1
    .col-2
      = f.input_field :price1, as: :numeric
      %b (Precio mayor)
    .col-1
      = f.label :price2_desc
    .col-2
      = f.input_field :price2_desc, :size => 70, placeholder: 'Ej. Precio (pago 15 dias antes de la fecha de inicio)'
    .col-1
      = f.label :price2
    .col-2
      = f.input_field :price2
      %b (Precio medio)
    .col-1
      = f.label :price3_desc
    .col-2
      = f.input_field :price3_desc, :size => 70, placeholder: 'Ej. Precio estudiantes UNAM'
    .col-1
      = f.label :price3
    .col-2
      = f.input_field :price3
      %b (Precio menor)
    .col-1
      = f.label :payment_methods
    .col-2
      = f.input_field :payment_methods, :size => 70
    .col-1
      = f.label :target
    .col-2
      = f.input_field :target, as: :text, :size => "90x3"
    .col-1
      = f.label :prerequisites
    .col-2
      = f.input_field :prerequisites, :size => 70
    .col-1
      = f.label :min_quota
    .col-2
      = f.input_field :min_quota, as: :numeric
    .col-1
      = f.label :max_quota
    .col-2
      = f.input_field :max_quota, as: :numeric
    .col-1
      = f.label :instructors
    .col-2
      = f.input_field :instructors, :size => 70
    .col-1
      = f.label :contact
    .col-2
      = f.input_field :contact, :size => 70
    .col-1
      = f.label :opt_field_title
    .col-2
      = f.input_field :opt_field_title, :size => 70, placeholder: 'Ej. Condiciones de cancelación.'
    .col-1
      = f.label :opt_field
    .col-2
      = f.input_field :opt_field, :size => 70, placeholder: 'Ej. Sólo será posible la cancelación de registro 10 días entes del evento.'

    .col-1
      = f.label :opt_field2_title
    .col-2
      = f.input_field :opt_field2_title, :size => 70, placeholder: 'Ej. Condiciones de cancelación.'
    .col-1
      = f.label :opt_field2
    .col-2
      = f.input_field :opt_field2, :size => 70, placeholder: 'Ej. Sólo será posible la cancelación de registro 10 días entes del evento.'

    .col-1
      = f.label :opt_field3_title
    .col-2
      = f.input_field :opt_field3_title, :size => 70, placeholder: 'Ej. Condiciones de cancelación.'
    .col-1
      = f.label :opt_field3
    .col-2
      = f.input_field :opt_field3, :size => 70, placeholder: 'Ej. Sólo será posible la cancelación de registro 10 días entes del evento.'

    .sp

    %h3.t-head= t('titles.optional_data')
    .col-1
      = f.label :opt_text
    .col-2
      = f.input_field :opt_text, :size => 70
    .col-1
      = f.label :opt_str1
    .col-2
      = f.input_field :opt_str1, :size => 70
    .col-1
      = f.label :opt_str2
    .col-2
      = f.input_field :opt_str2, :size => 70
    .col-1
      = f.label :opt_bol1
    .col-2
      = f.input_field :opt_bol1, :size => 70
    .col-1
      = f.label :opt_bol2
    .col-2
      = f.input_field :opt_bol2, :size => 70
    .col-1
      = f.label :opt_sel
    .col-2
      = f.input_field :opt_sel, :size => 70
    .col-1
      = f.label :opt_sel_options
    .col-2
      = f.input_field :opt_sel_options, :size => 70, placeholder: 'Separar las opciones con coma ",". La primer opción es la opción por defecto.'
    .sp

    %h3.t-head= t('titles.event_files')
    .col-1
      = f.label :upload_file1_desc
    .col-2
      = f.input_field :upload_file1_desc, :size => 70
    .col-1
      = f.label :upload_file2_desc
    .col-2
      = f.input_field :upload_file2_desc, :size => 70
    .col-1
      = f.label :upload_file3_desc
    .col-2
      = f.input_field :upload_file3_desc, :size => 70

    .sp

    %h3.t-head= t('titles.event_metadata')
    .col-1
      =f.label :image_file1
    .col-2.file-selector
      .input-file
        =text_field_tag :catalogs_course_image_file1_tag, nil, type: 'file', accept: 'image/png,image/gif,image/jpeg'
      .input-file-handler
        .input-file-button.jq-button
          =t('commands.select_file')
        .input-file-str
          =f.input_field :image_file1, size: 30, placeholder: t('titles.size_of_images'), readonly: true
        .remove-file-button.jq-button{'jq-icon' => 'trash', name: '#catalogs_course_image_file1'}
          &nbsp;
    .col-1
      =f.label :image_file2
    .col-2.file-selector
      .input-file
        =text_field_tag :catalogs_course_image_file2_tag, nil, type: 'file'
      .input-file-handler
        .input-file-button.jq-button
          =t('commands.select_file')
        .input-file-str
          =f.input_field :image_file2, size: 30, placeholder: t('titles.size_of_images'), readonly: true
        .remove-file-button.jq-button{'jq-icon' => 'trash', name: '#catalogs_course_image_file2'}
          &nbsp;
    .col-1
      =f.label :image_file3
    .col-2.file-selector
      .input-file
        =text_field_tag :catalogs_course_image_file3_tag, nil, type: 'file'
      .input-file-handler
        .input-file-button.jq-button
          =t('commands.select_file')
        .input-file-str
          =f.input_field :image_file3, size: 30, placeholder: t('titles.size_of_images'), readonly: true
        .remove-file-button.jq-button{'jq-icon' => 'trash', name: '#catalogs_course_image_file3'}
          &nbsp;
    .col-1
      = f.label :color_theme1
    .col-2
      = f.input_field :color_theme1, class: 'colorpicker'
      %b (Color obscuro)
    .col-1
      = f.label :color_theme2
    .col-2
      = f.input_field :color_theme2, class: 'colorpicker'
      %b (Color intermedio)
    .col-1
      = f.label :color_theme3
    .col-2
      = f.input_field :color_theme3, class: 'colorpicker'
      %b (Color claro)
    .col-1
      = f.label :start_date_pub
    .col-2
      = f.input_field :start_date_pub, as: :string, class: 'jq-datepicker', size: 18
    .col-1
      = f.label :end_date_pub
    .col-2
      = f.input_field :end_date_pub, as: :string, class: 'jq-datepicker', size: 18
    .col-1
      = f.label :start_date_reg
    .col-2
      = f.input_field :start_date_reg, as: :string, class: 'jq-datepicker', size: 18
    .col-1
      = f.label :end_date_reg
    .col-2
      = f.input_field :end_date_reg, as: :string, class: 'jq-datepicker', size: 18
    .col-1
      = f.label :mail_notif_deposit
    .col-2
      = f.input_field :mail_notif_deposit, :size => 70
    .col-1
      = f.label :academic_data_required
    .col-2
      = f.input_field :academic_data_required
    .col-1
      = f.label :info_after_reg
    .col-2
      = f.input_field :info_after_reg, :size => 70
    .col-1
      = f.label :page_return
    .col-2
      = f.input_field :page_return, :size => 70
    .col-1
      = f.label :link_field1
    .col-2
      = f.input_field :link_field1, :size => 70
    .col-1
      = f.label :link_field2
    .col-2
      = f.input_field :link_field2, :size => 70
    .sp


  %hr
  .t-right
    =jq_submit_tag t('commands.save')
    = link_to_jq_button({url: catalogs_courses_path, text: t('commands.cancel'), icon: 'close', remote: false})
  .sp
-#= link_to 'Back', catalogs_courses_path0

