#c-container{style: "background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
  #c-header{style: "background-color: ##{@catalogs_course.color_theme1};"}
    #c-header-bg
    #c-header-logo
  #c-course-info{style: "background-color: ##{@catalogs_course.color_theme_l 3,0.6}; color: ##{@catalogs_course.color_theme1}"}
    = show_for @catalogs_course do |r|
      #name
        = r.value :name
      #carousel
        -@carousel.each do |img|
          .item{style:"background-image:url('#{img}');"}
      #c-description
        =r.value :description
      #tbl-course-info
        #c-schedule.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.3};"}
          .col-1
            =r.label :schedule 
          .col-2
            =r.value :schedule
        #c-location.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
          .col-1
            =r.label :location 
          .col-2
            =r.value :location
        #c-content_file.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.3};"}
          .col-1
            =r.label :content_file
          .col-2
            =r.value :content_file
        #c-price1.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
          .col-1
            =r.label :price1
          .col-2
            =r.value :price1
        #c-price2.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.3};"}
          .col-1
            =r.label :price2
          .col-2
            =r.value :price2
        #c-price3.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
          .col-1
            =r.label :price3
          .col-2
            =r.value :price3
        #c-payment_methods.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.3};"}
          .col-1
            =r.label :payment_methods
          .col-2
            =r.value :payment_methods
        #c-target.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
          .col-1
            =r.label :target
          .col-2
            =r.value :target
        #c-prerequisites.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.3};"}
          .col-1
            =r.label :prerequisites
          .col-2
            =r.value :prerequisites
        #c-min_quota.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
          .col-1
            =r.label :min_quota
          .col-2
            =r.value :min_quota
        #c-max_quota.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.3};"}
          .col-1
            =r.label :max_quota
          .col-2
            =r.value :max_quota
        #c-instructors.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
          .col-1
            =r.label :instructors
          .col-2
            =r.value :instructors
        #c-contact.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.3};"}
          .col-1
            =r.label :contact
          .col-2
            =r.value :contact
        #c-opt_field.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
          .col-1
            =r.value :opt_field_title
          .col-2
            =r.value :opt_field
#c-footer{style: "background-color: ##{@catalogs_course.color_theme1}; color: ##{@catalogs_course.color_theme_l 1,0.3}"}
  Ramón Martínez Olvera | INB-UNAM

