#c-container{style: "background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
  #c-header{style: "background-color: ##{@catalogs_course.color_theme1};"}
    #c-header-bg
    #c-header-logo
  #c-course-info{style: "background-color: ##{@catalogs_course.color_theme_l 3,0.6}; color: ##{@catalogs_course.color_theme1}"}
    = show_for @catalogs_course do |r|
      #name
        = r.value :name
      #carousel
        -@carousel.each do |img|
          .item{style:"background-image:url('#{img}');"}
      #c-description
        =r.value :description
      #tbl-course-info
        #c-schedule.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.3};"}
          .col-1
            =r.label :schedule 
          .col-2
            =r.value :schedule
        #c-location.c-info{style:"border: solid ##{@catalogs_course.color_theme2}; border-width: 1px 0px; background-color: ##{@catalogs_course.color_theme_l 3,0.5};"}
          .col-1
            =r.label :location 
          .col-2
            =r.value :location
#c-footer{style: "background-color: ##{@catalogs_course.color_theme1}; color: ##{@catalogs_course.color_theme_l 1,0.3}"}
  Ramón Martínez Olvera | INB-UNAM

