%h1= t('titles.course')

.t-right
  = link_to_jq_button({url: edit_catalogs_course_path(@catalogs_course), text: t('commands.edit'), title: t('commands.edit'), icon: 'pencil', remote: false})
  = link_to_jq_button({url: catalogs_courses_path, text: t('commands.close'), icon: 'close', remote: false})
.sp

.alert-notice
  =render partial: 'layouts/alert_notice'

= show_for @catalogs_course do |r|
  %h3.t-head= t('titles.event_general_data')
  .tbl-courses-attr
    .col-1
      = r.label :name
    .col-2
      = r.value :name
    .col-1
      = r.label :start_date
    .col-2
      = r.value :start_date, :format => :long_only_date
    .col-1
      = r.label :description
    .col-2
      = r.value :description
    .col-1
      = r.label :location
    .col-2
      = r.value :location
    .col-1
      = r.label :schedule
    .col-2
      = r.value :schedule
    .sp

    %h3.t-head= t('titles.event_detail_data')
    .col-1
      = r.label :content_file
    .col-2
      = r.value :content_file
    .col-1
      = r.label :price1
    .col-2
      = number_with_precision(r.value :price1, precision: 2)
    .col-1
      = r.label :price2
    .col-2
      = number_with_precision(r.value :price2, precision: 2)
    .col-1
      = r.label :price3
    .col-2
      = number_with_precision(r.value :price3, precision: 2)
    .col-1
      = r.label :payment_methods
    .col-2
      = r.value :payment_methods
    .col-1
      = r.label :target
    .col-2
      = r.value :target
    .col-1
      = r.label :prerequisites
    .col-2
      = r.value :prerequisites
    .col-1
      = r.label :min_quota
    .col-2
      = r.value :min_quota
    .col-1
      = r.label :max_quota
    .col-2
      = r.value :max_quota
    .col-1
      = r.label :instructors
    .col-2
      = r.value :instructors
    .col-1
      = r.label :contact
    .col-2
      = r.value :contact
    .sp
    %h3.t-head= t('titles.optional_data')
    .col-1
      = r.label :opt_text
    .col-2
      = r.value :opt_text
    .col-1
      = r.label :opt_str1
    .col-2
      = r.value :opt_str1
    .col-1
      = r.label :opt_str2
    .col-2
      = r.value :opt_str2
    .col-1
      = r.label :opt_bol1
    .col-2
      = r.value :opt_bol1
    .col-1
      = r.label :opt_bol2
    .col-2
      = r.value :opt_bol2
    .col-1
      = r.label :opt_sel
    .col-2
      = r.value :opt_sel
    .col-1
      = r.label :opt_sel_options
    .col-2
      = r.value :opt_sel_options
    .sp
    %h3.t-head= t('titles.event_metadata')
    .col-1
      = r.label :image_file1
    .col-2
      = r.value :image_file1
    .col-1
      = r.label :image_file2
    .col-2
      = r.value :image_file2
    .col-1
      = r.label :image_file3
    .col-2
      = r.value :image_file3
    .col-1
      = r.label :color_theme1
    .col-2
      = r.value :color_theme1
    .col-1
      = r.label :color_theme2
    .col-2
      = r.value :color_theme2
    .col-1
      = r.label :color_theme3
    .col-2
      = r.value :color_theme3
    .col-1
      = r.label :start_date_pub
    .col-2
      = r.value :start_date_pub, :format => :long_only_date
    .sp
    .col-1
      = r.label :end_date_pub
    .col-2
      = r.value :end_date_pub, :format => :long_only_date
    .sp
    .col-1
      = r.label :start_date_reg
    .col-2
      = r.value :start_date_reg, :format => :long_only_date
    .col-1
      = r.label :end_date_reg
    .col-2
      = r.value :end_date_reg, :format => :long_only_date
    .col-1
      = r.label :mail_notif_deposit
    .col-2
      = r.value :mail_notif_deposit
    .col-1
      = r.label :academic_data_required
    .col-2
      = r.value :academic_data_required
    .sp
    .col-1
      = r.label :info_after_reg
    .col-2
      = r.value :info_after_reg
    .col-1
      = r.label :opt_field
    .col-2
      = r.value :opt_field
    .col-1
      = r.label :opt_field_title
    .col-2
      = r.value :opt_field_title

.sp
%hr

.t-right
  = link_to_jq_button({url: edit_catalogs_course_path(@catalogs_course), text: t('commands.edit'), title: t('commands.edit'), icon: 'pencil', remote: false})
  = link_to_jq_button({url: catalogs_courses_path, text: t('commands.close'), icon: 'close', remote: false})
.sp

