%h1= "#{t('titles.participant')} (#{@catalogs_participant.course.name})"

= render partial: 'layouts/validation_errors', locals: {errors: @catalogs_participant.errors}
.sp

= simple_form_for @catalogs_participant, url: url, :html => {:novalidate => true, multipart: true} do |f|
  .command.t-right
    .c-command{class: 'w-110', style: "background-color: #{@color_theme1}"}= link_to_jq_button({url: url_cancel, text: t('commands.cancel'), icon: 'close', remote: false})
    .c-command{class: 'w-110', style: "background-color: #{@color_theme1}"}= jq_submit_tag t('commands.send'), {disable_with: t('notices.processing')}
  .sp

  %h3.t-head{style: "background-color: #{@color_theme3};"}= t('titles.event_general_data')
  .tbl-participants-attr
    .col-1
      =f.hidden_field :course_id
      =f.label :name
    .col-2
      =f.input_field :name, :size => 70
    .col-1
      =f.label :surnames
    .col-2
      =f.input_field :surnames, :size => 70
    .col-1
      =f.label :mail
    .col-2
      =f.input_field :mail, :size => 70
    .col-1
      =f.label :phone_numbers
    .col-2
      =f.input_field :phone_numbers, :size => 70
    .col-1
      =f.label :workplace
    .col-2
      =f.input_field :workplace, :size => 70

    - prices = {}
    - prices.merge!("#{@catalogs_participant.course.price1_desc} ($ #{'%.2f' % @catalogs_participant.course.price1})" => 1) unless @catalogs_participant.course.price1_desc.try(:empty?)
    - prices.merge!("#{@catalogs_participant.course.price2_desc} ($ #{'%.2f' % @catalogs_participant.course.price2})" => 2) unless @catalogs_participant.course.price2_desc.try(:empty?)
    - prices.merge!("#{@catalogs_participant.course.price3_desc} ($ #{'%.2f' % @catalogs_participant.course.price3})" => 3) unless @catalogs_participant.course.price3_desc.try(:empty?)
    - if prices.size > 0
      .col-1
        = f.label :participant_type
      .col-2.prices
        =f.input_field :price, collection: prices, as: :radio_buttons, checked: 1
    .sp
    -#UPLOAD FILES
    - if !(@catalogs_participant.course.upload_file1_desc+@catalogs_participant.course.upload_file2_desc+@catalogs_participant.course.upload_file3_desc).strip.empty?
      %h3.t-head{style: "background-color: #{@color_theme3};"}= t('titles.upload_files')
      -if !@catalogs_participant.course.upload_file1_desc.empty?
        .col-1
          %strong= "#{@catalogs_participant.course.upload_file1_desc}"
        .col-2.file-selector
          .input-file
            =text_field_tag :catalogs_participant_upload_file1_tag, nil, type: 'file'
          .input-file-handler
            .input-file-button.jq-button.c-command{style: "background-color: #{@color_theme3}"}
              =t('commands.select_file')
            .input-file-str
              =f.input_field :upload_file1, size: 30, readonly: true
            .remove-file-button.jq-button.c-command{style: "background-color: #{@color_theme3}",'jq-icon' => 'trash', name: '#catalogs_participant_upload_file1'} X

      -if !@catalogs_participant.course.upload_file2_desc.empty?
        .col-1
          %strong= "#{@catalogs_participant.course.upload_file2_desc}"
        .col-2.file-selector
          .input-file
            =text_field_tag :catalogs_participant_upload_file2_tag, nil, type: 'file'
          .input-file-handler
            .input-file-button.jq-button.c-command{style: "background-color: #{@color_theme3}"}
              =t('commands.select_file')
            .input-file-str
              =f.input_field :upload_file2, size: 30, readonly: true
            .remove-file-button.jq-button.c-command{style: "background-color: #{@color_theme3}",'jq-icon' => 'trash', name: '#catalogs_participant_upload_file2'}
              X

      -if !@catalogs_participant.course.upload_file3_desc.empty?
        .col-1
          %strong= "#{@catalogs_participant.course.upload_file3_desc}"
        .col-2.file-selector
          .input-file
            =text_field_tag :catalogs_participant_upload_file3_tag, nil, type: 'file'
          .input-file-handler
            .input-file-button.jq-button.c-command{style: "background-color: #{@color_theme3}"}
              =t('commands.select_file')
            .input-file-str
              =f.input_field :upload_file3, size: 30, readonly: true
            .remove-file-button.jq-button.c-command{style: "background-color: #{@color_theme3}",'jq-icon' => 'trash', name: '#catalogs_participant_upload_file3'}
              X

  - if @catalogs_participant.course.academic_data_required?
    %h3.t-head{style: "background-color: #{@color_theme3};"}= t('titles.academic_data')
    .tbl-participants-attr
      .col-1
        =f.label :bachelor_deg
      .col-2
        =f.input_field :bachelor_deg, :size => 70
      .col-1
        =f.label :master_deg
      .col-2
        =f.input_field :master_deg, :size => 70
      .col-1
        =f.label :phd_deg
      .col-2
        =f.input_field :phd_deg, :size => 70

  - if !(@catalogs_participant.course.price1_desc+@catalogs_participant.course.price2_desc+@catalogs_participant.course.price3_desc).strip.empty?
    %h3.t-head{style: "background-color: #{@color_theme3};"}= t('titles.invoice_data')
    .tbl-participants-attr
      .col-1
        =f.label :invoice_required
      .col-2
        =f.input_field :invoice_required, as: :boolean
      .col-1
        =f.label :inv_name
      .col-2
        =f.input_field :inv_name, :size => 70
      .col-1
        =f.label :inv_rfc
      .col-2
        =f.input_field :inv_rfc, :size => 70
      .col-1
        =f.label :inv_address
      .col-2
        =f.input_field :inv_address, :size => 70
      .col-1
        =f.label :inv_city
      .col-2
        =f.input_field :inv_city, :size => 70
      .col-1
        =f.label :inv_municipality
      .col-2
        =f.input_field :inv_municipality, :size => 70
      .col-1
        =f.label :inv_state_id
      .col-2
        =f.select :inv_state_id, options_from_collection_for_select(Catalogs::State.all, :id, :name, @catalogs_participant.inv_state_id),  :size => 70
      .col-1
        =f.label :inv_mail
      .col-2
        =f.input_field :inv_mail, :size => 70

  - if !(@catalogs_participant.course.opt_str1+@catalogs_participant.course.opt_str2+@catalogs_participant.course.opt_bol1+ @catalogs_participant.course.opt_bol2+@catalogs_participant.course.opt_sel).strip.empty?
    %h3.t-head{style: "background-color: #{@color_theme3};"}= t('titles.additional_data')
    .tbl-participants-attr
      -if !@catalogs_participant.course.opt_text.empty?
        .col-1
          =@catalogs_participant.course.opt_text
        .col-2
          =f.input_field :opt_text, size: "69x5", as: :text
      -if !@catalogs_participant.course.opt_str1.empty?
        .col-1
          =@catalogs_participant.course.opt_str1
        .col-2
          =f.input_field :opt_str1, :size => 70
      -if !@catalogs_participant.course.opt_str2.empty?
        .col-1
          =@catalogs_participant.course.opt_str2
        .col-2
          =f.input_field :opt_str2, :size => 70
      -if !@catalogs_participant.course.opt_bol1.empty?
        .col-1
          =@catalogs_participant.course.opt_bol1
        .col-2
          =f.input_field :opt_bol1, as: :boolean
      -if !@catalogs_participant.course.opt_bol2.empty?
        .col-1
          =@catalogs_participant.course.opt_bol2
        .col-2
          =f.input_field :opt_bol2, as: :boolean
      -if !@catalogs_participant.course.opt_sel.empty?
        - list = @catalogs_participant.course.opt_sel_options.split(",")
        .col-1
          =@catalogs_participant.course.opt_sel
        .col-2
          =f.select :opt_sel, list
  %hr{style: "color: #{@color_theme1}"}
  .command.t-right
    .c-command{class: 'w-110', style: "background-color: #{@color_theme1}"}= link_to_jq_button({url: url_cancel, text: t('commands.cancel'), icon: 'close', remote: false})
    .c-command{class: 'w-110', style: "background-color: #{@color_theme1}"}= jq_submit_tag t('commands.send'), {disable_with: t('notices.processing')}
  .sp
