:plain
  if($("#confirm-link-#{@catalogs_participant.id} span").hasClass('ui-icon-circle-check')) {
    $("#confirm-link-#{@catalogs_participant.id} span").switchClass('ui-icon-circle-check','ui-icon-check');
    $("#confirm-link-#{@catalogs_participant.id} span").attr('title','Confirmado');
  } else {
    $("#confirm-link-#{@catalogs_participant.id} span").switchClass('ui-icon-check','ui-icon-circle-check');
    $("#confirm-link-#{@catalogs_participant.id} span").attr('title','No confirmado');
  }
