%h1 Listing catalogs_participants

= link_to_jq_button(url: catalogs_courses_path, icon: 'arrowreturn-1-w', text: t('commands.back'), remote: false )

%table
  %tr
    %th Course
    %th Name
    %th Surnames
    %th Mail
    %th Phone numbers
    %th Workplace
    %th Bachelor deg
    %th Master deg
    %th Phd deg
    %th Inv name
    %th Inv rfc
    %th Inv address
    %th Inv city
    %th Inv municipality
    %th Inv state
    %th Inv email
    %th Opt text
    %th Str op1
    %th Opt str1
    %th Opt str2
    %th Opt bol1
    %th Opt bol2
    %th Opt sel
    %th Confirmed
    %th Price
    %th
    %th
    %th

  - @catalogs_participants.each do |catalogs_participant|
    - if can? :update, catalogs_participant
      %tr
        %td= catalogs_participant.course_id
        %td= catalogs_participant.name
        %td= catalogs_participant.surnames
        %td= catalogs_participant.mail
        %td= catalogs_participant.phone_numbers
        %td= catalogs_participant.workplace
        %td= catalogs_participant.bachelor_deg
        %td= catalogs_participant.master_deg
        %td= catalogs_participant.phd_deg
        %td= catalogs_participant.inv_name
        %td= catalogs_participant.inv_rfc
        %td= catalogs_participant.inv_address
        %td= catalogs_participant.inv_city
        %td= catalogs_participant.inv_municipality
        %td= catalogs_participant.inv_state
        %td= catalogs_participant.inv_email
        %td= catalogs_participant.opt_text
        %td= catalogs_participant.str_op1
        %td= catalogs_participant.opt_str1
        %td= catalogs_participant.opt_str2
        %td= catalogs_participant.opt_bol1
        %td= catalogs_participant.opt_bol2
        %td= catalogs_participant.opt_sel
        %td= catalogs_participant.confirmed
        %td= catalogs_participant.price
        %td= link_to 'Show', catalogs_participant
        %td= link_to 'Edit', edit_catalogs_participant_path(catalogs_participant)
        %td= link_to 'Destroy', catalogs_participant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Participant', new_catalogs_participant_path
