%h1= "#{t('titles.participants')} (#{@course_name})"

.alert-notice
  =render partial: 'layouts/alert_notice'

.sp
=render 'layouts/search', url: catalogs_participants_list_path(params[:course_id])

.t-right
  = link_to_jq_button(url: new_catalogs_participant_path(course_id: params[:course_id]), icon: 'plus', text: t('commands.new'),remote: false)
  = link_to_jq_button(url: catalogs_courses_path, icon: 'arrowreturn-1-w', text: t('commands.back'), remote: false )

.sp
#record-list
  =render partial: 'record_tbl'
